<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Spotify Exhibition</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/modules/animate/animate.min.css">
    <script src="/modules/animejs/anime.min.js"></script>
  </head>
  <body>
    <section class="intro bg-dark">
      <div class="cover"></div>
      <div class="w-100 h-100 d-flex align-items-center justify-content-center">
        <div class="circles w-100 h-100 d-flex align-items-center justify-content-center">
          <div class="circle" style="animation-delay: 0s"></div>
          <div class="circle" style="animation-delay: 1.25s"></div>
          <div class="circle" style="animation-delay: 2.5s"></div>
          <div class="circle" style="animation-delay: 3.75s"></div>
        </div>
        <div class="title">
          <div class="title-1">My Spotify</div>
          <div class="title-2">Exhibition</div>
          <div class='subtitle hidden'>An Immersive Experience, For You Only.</div>
        </div>
        <div class="arrows w-100 d-flex align-items-center justify-content-center hidden">
          <div class="chevron"></div>
          <div class="chevron"></div>
          <div class="chevron"></div>
        </div>
        <div class="scroll-text hidden"> Scroll to start ... </div>
      </div>
    </section>
    <section class="main bg-light shadow-top">
      <img class="album shadow hidden animate__animated animate__pulse animate__infinite" id="album-1" src="https://images.genius.com/8c20670a4fbe0402ee417a1c3b170a55.1000x1000x1.jpg" alt="Billboard 200 album cover">
      <img class="album shadow hidden animate__animated animate__pulse animate__infinite" id="album-2" src="https://miro.medium.com/max/1080/0*eMVwgZzuL3frMjP5.jpg" alt="Billboard 200 album cover">
      <img class="album shadow hidden animate__animated animate__pulse animate__infinite" id="album-3" src="https://images-na.ssl-images-amazon.com/images/I/91OeYnLoCJL._SL1500_.jpg" alt="Billboard 200 album cover">
      <img class="album shadow hidden animate__animated animate__pulse animate__infinite" id="album-4" src="https://images-na.ssl-images-amazon.com/images/I/61nqWdoEJ%2BL._AC_SL1500_.jpg" alt="Billboard 200 album cover">
      <img class="album shadow hidden animate__animated animate__pulse animate__infinite" id="album-5" src="https://images.genius.com/79c6343980b4513f2c46813301da0dec.1000x1000x1.png" alt="Billboard 200 album cover">
      <img class="album shadow hidden animate__animated animate__pulse animate__infinite" id="album-6" src="https://townsquare.media/site/812/files/2018/12/21-savage-2.jpg" alt="Billboard 200 album cover">
      <img class="album shadow hidden animate__animated animate__pulse animate__infinite" id="album-7" src="https://images.genius.com/7a9c0318205b62b69560a04bd6f78414.1000x1000x1.png" alt="Billboard 200 album cover">
      <img class="album shadow hidden animate__animated animate__pulse animate__infinite" id="album-8" src="https://images.genius.com/bd58f880e3639190c45ab29cd1bdf354.1000x1000x1.png" alt="Billboard 200 album cover">
      <img class="album shadow hidden animate__animated animate__pulse animate__infinite" id="album-9" src="https://cdn.vox-cdn.com/thumbor/oAefir7oAxOI7W9Qcc6n2wXrwXI=/1400x1400/filters:format(png)/cdn.vox-cdn.com/uploads/chorus_asset/file/21821428/86b455ccd09ab16c71e227440a0abb94.1000x1000x1.png" alt="Billboard 200 album cover">
      <img class="album shadow hidden animate__animated animate__pulse animate__infinite" id="album-10" src="https://assets.fontsinuse.com/static/use-media-items/52/51196/full-1500x1500/58f577f9/C9H8-PWUIAAzbQ2-jpg-large-e.jpeg?resolution=0" alt="Billboard 200 album cover">
      <img class="album shadow hidden animate__animated animate__pulse animate__infinite" id="album-11" src="https://cdn.vox-cdn.com/thumbor/fzF48gaEWO8LptbAyO5Qly5b_r4=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/20076042/Juice_WRLD.jpg" alt="Billboard 200 album cover">
      <img class="album shadow hidden animate__animated animate__pulse animate__infinite" id="album-12" src="https://images-na.ssl-images-amazon.com/images/I/91fNvcw79uL._AC_SL1400_.jpg" alt="Billboard 200 album cover">
      <img class="album shadow hidden animate__animated animate__pulse animate__infinite" id="album-13" src="https://media.gq.com/photos/5e32f9ca99b8de0008f51523/1:1/w_932,h_932,c_limit/GQ_MacMiller-Circles-200130.jpg" alt="Billboard 200 album cover">
      <img class="album shadow hidden animate__animated animate__pulse animate__infinite" id="album-14" src="https://images.genius.com/b51f5efc84ef64228aaeeab516256583.1000x1000x1.jpg" alt="Billboard 200 album cover">
      <img class="album shadow hidden animate__animated animate__pulse animate__infinite" id="album-15" src="https://images-na.ssl-images-amazon.com/images/I/81X1xE8UVtL._AC_SL1425_.jpg" alt="Billboard 200 album cover">
      <img class="album shadow hidden animate__animated animate__pulse animate__infinite" id="album-16" src="https://images.complex.com/complex/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_face,q_auto,w_1280/n0igst4jkcqxwztkqp9o.jpg" alt="Billboard 200 album cover">
      <img class="album shadow hidden animate__animated animate__pulse animate__infinite" id="album-17" src="https://townsquare.media/site/812/files/2017/08/XXXTentacion-17-Album-Cover.jpeg?w=980&q=75" alt="Billboard 200 album cover">
      <img class="album shadow hidden animate__animated animate__pulse animate__infinite" id="album-18" src="https://i.cbc.ca/1.4574015.1520953045!/fileImage/httpImage/daniel-caesar.jpg" alt="Billboard 200 album cover">

      <div class="start-text w-100 h-100 d-flex flex-column align-items-center justify-content-center hidden">
        <h1 class="welcome">Welcome</h1>
        <small class="welcome-subtitle">to your own Spotify replay exhibition.</small>
        <button class="login-btn" type="button" name="login">Start My Experience</button>
      </div>
    </section>

    <script>
      function animateText() {
        let title1Wrapper = document.querySelector(".title-1");
        title1Wrapper.innerHTML = title1Wrapper.textContent.replace(/\S/g, "<div class='letter'>$&</div>");

        let title2Wrapper = document.querySelector(".title-2");
        title2Wrapper.innerHTML = title2Wrapper.textContent.replace(/\S/g, "<div class='letter'>$&</div>");

        anime.timeline()
        .add({
          targets: ".title-1 .letter",
          translateY : [40,0],
          translateZ: 0,
          opacity: [0,1],
          easing: "easeOutExpo",
          duration: 1200,
          delay: anime.stagger(50, {start: 2200})
        })

        anime.timeline()
        .add({
          targets: ".title-2 .letter",
          translateY: [40,0],
          translateZ: 0,
          opacity: [0,1],
          easing: "easeOutExpo",
          duration: 1200,
          delay: anime.stagger(50, {start: 2500})
        })

        setTimeout(function() {
          let title1 = document.querySelector(".title-1");
          let title2 = document.querySelector(".title-2");
          let title = document.querySelector(".title");
          title1.innerHTML = "<span data-content='My Spotify' aria-hidden='true'></span>My Spotify";
          title2.innerHTML = "<span data-content='Exhibition' aria-hidden='true'></span>Exhibition";
        }, 3700);
      }

      function animateCover() {
        let cover = document.querySelector(".cover");
        let title = document.querySelector(".title");
        let circles = document.querySelector(".circles");
        let arrows = document.querySelector(".arrows");
        let scrollText = document.querySelector(".scroll-text");

        cover.classList.add("cover-animate");
        circles.classList.add("circles-animate");
        setTimeout(function() {
          circles.remove();
        }, 2000);
        setTimeout(function() {
          title.classList.add("title-animate");
          setTimeout(function() {
            title.className = "title-new";
            title.innerHTML = "<div class='title-1'>My Spotify</div> <div class='title-2'>Exhibition</div> <div class='subtitle hidden'>An Immersive Experience, For You Only.</div>";
            setTimeout(function() {
              title.classList.add("title-shrink");
              let subtitle = document.querySelector(".subtitle");
              setTimeout(function() {
                subtitle.classList.remove("hidden");
                setTimeout(function() {
                  arrows.classList.remove("hidden");
                  scrollText.classList.remove("hidden");
                }, 2000);
              }, 1000);
            }, 300);
          }, 1000);
        }, 1000);
      }

      function shiftAlbumPerspective() {
        console.log("hi");
      }

      function driftAlbums() {
        let albums = document.querySelectorAll(".album");
        let startText = document.querySelector(".start-text");

        for (let i = 0; i < albums.length; i++) {
          albums[i].classList.add("album-after");
        }

        setTimeout(function() {
          startText.classList.remove("hidden");
        }, 1200);
      }

      function initAlbums() {
        let main = document.querySelector(".main");
        main.addEventListener("mousemove", shiftAlbumPerspective);

        let albums = document.querySelectorAll(".album");
        const maxWidth = 28;
        const minWidth = 24;
        const maxTime = 2.5;
        const minTime = 0.5;
        const maxDelay = 0.2;
        const minDelay = 0.15;

        for (let i = 0; i < albums.length; i++) {
          albums[i].classList.remove("hidden");

          let randDimensions = Math.random() * (maxWidth - minWidth) + minWidth;
          albums[i].style.width = "calc(" + randDimensions + "px + 12vw)";
          albums[i].style.height = "calc(" + randDimensions + "px + 12vw)";

          let randTransitionDuration = Math.random() * (maxTime - minTime) + minTime;
          let randTransitionDelay = Math.random() * (maxDelay - minDelay) + minDelay;
          albums[i].style.transition = "opacity " + randTransitionDuration + "s " + (randTransitionDelay * i) + "s ease, left 1s ease, right 1s ease, top 1s ease, height 1s ease, width 1s ease";

          albums[i].style.setProperty("--animate-delay", (randTransitionDelay * i) + "s");
          albums[i].style.setProperty("--animate-duration", (Math.random() * (5 - 4) + 4) + "s");
        }

        setTimeout(driftAlbums, 4800);
      }

      function animateAlbums(scrollPos) {
        if (scrollPos >= window.innerHeight - 200) {
          window.removeEventListener("scroll", onScroll);
          initAlbums();
        }
      }

      function onScroll() {
        let scrollPos = 0;
        let ticking = false;
        scrollPos = window.scrollY;

        if (!ticking) {
          window.requestAnimationFrame(function() {
            animateAlbums(scrollPos);
            ticking = false;
          });

          ticking = true;
        }
      }

      window.addEventListener("DOMContentLoaded", (event) => {
        window.addEventListener("scroll", onScroll);
        animateText();
        setTimeout(function() {
          animateCover();
        }, 5000);
      });
    </script>
  </body>
</html>
