/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: calc(1rem + 1.5vw);
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.text-white {
  color: white;
}

.text-black {
  color: #191414;
}

.bg-dark {
  background-color: #141414;
}

.title {
  position: absolute;
  right: 60px;
  font-weight: 500;
  font-size: 5.25rem;
  text-align: left;
  line-height: 1.25;
  white-space: nowrap;
  color: #191414;
}

.title span {
  position: absolute;
  left: 0;
  overflow: hidden;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.title span::before {
  display: inline-block;
  content: attr(data-content);
  color: #3DE176;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.title-animate span {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.title-animate span::before {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.title-animate {
  right: 10px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -o-transition: 1s ease;
}

.title .letter {
  display: inline-block;
  color: #191414;
  line-height: 1;
}

.cover {
  position: absolute;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f7f7f7;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

.cover-animate {
  width: 0;
}

.circle {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 500px;
  min-height: 500px;
  right: 10vw;
  border-radius: 50%;
  background-color: #1DB954;
  opacity: 0;
  -webkit-animation: scaleIn 6s infinite cubic-bezier(.11,0,.5,1);
          animation: scaleIn 6s infinite cubic-bezier(.11,0,.5,1)
}

.circles-animate {
  opacity: 0;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 0.75;
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes scaleIn {
  from {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 0.75;
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
}
