/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: calc(1rem + 1.5vw);
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.hidden {
  opacity: 0 !important;
}

.text-white {
  color: #F7F7F7;
}

.text-black {
  color: #141414;
}

.bg-dark {
  background-color: #141414;
}

.bg-light {
  background-color: #F7F7F7;
}

.shadow {
  box-shadow: 0 20px 25px -5px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 20px 25px -5px rgba(0,0,0,.1);
}

.shadow-top {
  box-shadow: inset 0px 0 20px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 0 20px rgba(0, 0, 0, 0.1);
}

.title {
  position: absolute;
  right: 60px;
  font-weight: 500;
  font-size: 5.25rem;
  text-align: left;
  line-height: 1.25;
  white-space: nowrap;
  color: #141414;
}

.title .letter {
  display: inline-block;
  color: #141414;
  line-height: 1;
}

.title span {
  position: absolute;
  left: 0;
  overflow: hidden;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.title span::before {
  display: inline-block;
  content: attr(data-content);
  color: #3DE176;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.title-animate span {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.title-animate span::before {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.title-animate {
  right: 10px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -o-transition: 1s ease;
}

.title-new {
  position: absolute;
  right: 10px;
  font-weight: 500;
  font-size: 5.25rem;
  text-align: left;
  line-height: 1.25;
  white-space: nowrap;
  color: #3DE176;
  z-index: 1;
}

.title-shrink {
  font-size: 4rem;
  right: 100px;
  margin-top: -50px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -o-transition: 1s ease;
}

.cover {
  position: absolute;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #F7F7F7;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

.cover-animate {
  width: 0;
}

.circle {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 500px;
  min-height: 500px;
  right: 10vw;
  border-radius: 50%;
  background-color: #1DB954;
  opacity: 0;
  -webkit-animation: scaleIn 5s infinite cubic-bezier(.11,0,.5,1);
          animation: scaleIn 5s infinite cubic-bezier(.11,0,.5,1)
}

.circles-animate {
  opacity: 0;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

.subtitle {
  color: #F7F7F7;
  margin-top: 1rem;
  font-size: 0.8rem;
  font-style: italic;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

.arrows {
  display: none;
}

.scroll-text {
  position: absolute;
  bottom: 120px;
  color: #F7F7F7;
  font-size: 0.6rem;
  font-weight: lighter;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 0.75;
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes scaleIn {
  from {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 0.75;
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
}

/*
* The following styling is modified from the
* "Pure CSS Scroll Animation Arrow" by Jakub Honíšek.
*/

@media (min-width: 992px) {
  .scroll-text {
    display: none;
  }

  .arrows {
    position: absolute;
    bottom: 120px;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  .chevron {
    position: absolute;
    width: 0.8rem;
    height: 0.24rem;
    opacity: 0;
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
    -webkit-animation: move-chevron 3s ease-out infinite;
    animation: move-chevron 3s ease-out infinite;
  }

  .chevron:first-child {
    -webkit-animation: move-chevron 3s ease-out 1s infinite;
    animation: move-chevron 3s ease-out 1s infinite;
  }

  .chevron:nth-child(2) {
    -webkit-animation: move-chevron 3s ease-out 2s infinite;
    animation: move-chevron 3s ease-out 2s infinite;
  }

  .chevron:before, .chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #999999;
  }

  .chevron:before {
    left: 0;
    -webkit-transform: skewY(30deg);
    -ms-transform: skewY(30deg);
    transform: skewY(30deg);
  }

  .chevron:after {
    right: 0;
    width: 50%;
    -webkit-transform: skewY(-30deg);
    -ms-transform: skewY(-30deg);
    transform: skewY(-30deg);
  }

  @-webkit-keyframes move-chevron {
    25% {
      opacity: 1;
    }
    33.3% {
      opacity: 1;
      -webkit-transform: translateY(1.14rem);
      transform: translateY(1.14rem);
    }
    66.6% {
      opacity: 1;
      -webkit-transform: translateY(1.56rem);
      transform: translateY(1.56rem);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(2.4rem) scale(0.5);
      transform: translateY(2.4rem) scale(0.5);
    }
  }

  @keyframes move-chevron {
    25% {
      opacity: 1;
    }
    33.3% {
      opacity: 1;
      -webkit-transform: translateY(1.14rem);
      transform: translateY(0.8rem);
    }
    66.6% {
      opacity: 1;
      -webkit-transform: translateY(1.56rem);
      transform: translateY(1.56rem);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(2.4rem) scale(0.5);
      transform: translateY(2.4rem) scale(0.5);
    }
  }
}

.welcome {
  font-size: 2rem;
  margin-bottom: 0;
  background: -webkit-linear-gradient(158deg, rgba(44,153,255,1) 0%, rgba(29,185,84,1) 100%);
  text-shadow: 5px 5px 10px rgba(0,0,0,.1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome-subtitle {
  font-weight: light;
  font-size: 0.8rem;
}

.login-btn {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  border: 2px solid #141414;
  background: inherit;
  font-size: 0.4rem;
  padding: 0.3rem 0.7rem;
  outline: none !important;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 50px;
}

.login-btn:hover, .login-btn:active {
  background: #141414;
  color: #F7F7F7;
}
