/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: calc(1rem + 1.5vw);
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}

a {
  text-decoration: none !important;
  color: inherit !important;
  cursor: pointer !important;
}

.main {
  overflow: hidden;
}

.intro {
  overflow: hidden;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.hidden {
  opacity: 0 !important;
}

.text-white {
  color: #F7F7F7;
}

.text-black {
  color: #141414;
}

.bg-dark {
  background-color: #141414;
}

.bg-light {
  background-color: #F7F7F7;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
}

.shadow-top {
  box-shadow: inset 0px 0 1rem rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0px 0 1rem rgba(0, 0, 0, 0.15);
}

.title {
  position: absolute;
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
  line-height: 1.25;
  white-space: nowrap;
  color: #141414;
}

.title .letter {
  display: inline-block;
  color: #141414;
  line-height: 1;
}

.title span {
  position: absolute;
  text-align: center;
  overflow: hidden;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.title span::before {
  display: inline-block;
  content: attr(data-content);
  color: #3DE176;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.title-animate span {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.title-animate span::before {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.title-animate {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -o-transition: 1s ease;
}

.title-new {
  position: absolute;
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
  line-height: 1.25;
  white-space: nowrap;
  color: #3DE176;
  z-index: 1;
}

.title-shrink {
  font-size: 2.5rem;
  margin-top: -50px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -o-transition: 1s ease;
}

.cover {
  position: absolute;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #F7F7F7;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

.cover-animate {
  width: 0;
}

.circle {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 500px;
  min-height: 500px;
  right: 10vw;
  border-radius: 50%;
  background-color: #1DB954;
  opacity: 0;
  -webkit-animation: scaleIn 5s infinite cubic-bezier(.11,0,.5,1);
          animation: scaleIn 5s infinite cubic-bezier(.11,0,.5,1)
}

.circles-animate {
  opacity: 0;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

.subtitle {
  color: #F7F7F7;
  margin-top: 1rem;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 0.8rem;
  font-weight: 300;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
  white-space: normal;
}

.arrows {
  display: none;
}

.scroll-text {
  position: absolute;
  bottom: 10vh;
  color: #F7F7F7;
  font-size: 0.6rem;
  font-weight: 300;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

@media (min-width: 576px) {
  .title {
    right: 4vw;
    margin-left: 0;
    margin-right: 0;
    font-size: calc(4rem + 3vw);
    text-align: left;
  }

  .title-animate {
    right: 2vw;
    text-align: left;
  }

  .title-new {
    position: absolute;
    right: 2vw;
    font-size: calc(4rem + 3vw);
    text-align: left;
  }

  .title-shrink {
    font-size: calc(3.25rem + 3vw);
    right: 12vw;
  }

  .subtitle {
    margin-left: 0;
    margin-right: 0;
    font-size: calc(0.75rem + 0.5vw);
  }
}

@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 0.75;
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes scaleIn {
  from {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 0.75;
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
}

/*
* The following styling is modified from the
* "Pure CSS Scroll Animation Arrow" by Jakub Honíšek.
*/

@media (min-width: 992px) {
  .scroll-text {
    display: none;
  }

  .arrows {
    position: absolute;
    bottom: 120px;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  .chevron {
    position: absolute;
    width: 0.8rem;
    height: 0.24rem;
    opacity: 0;
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
    -webkit-animation: move-chevron 3s ease-out infinite;
    animation: move-chevron 3s ease-out infinite;
  }

  .chevron:first-child {
    -webkit-animation: move-chevron 3s ease-out 1s infinite;
    animation: move-chevron 3s ease-out 1s infinite;
  }

  .chevron:nth-child(2) {
    -webkit-animation: move-chevron 3s ease-out 2s infinite;
    animation: move-chevron 3s ease-out 2s infinite;
  }

  .chevron:before, .chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #999999;
  }

  .chevron:before {
    left: 0;
    -webkit-transform: skewY(30deg);
    -ms-transform: skewY(30deg);
    transform: skewY(30deg);
  }

  .chevron:after {
    right: 0;
    width: 50%;
    -webkit-transform: skewY(-30deg);
    -ms-transform: skewY(-30deg);
    transform: skewY(-30deg);
  }

  @-webkit-keyframes move-chevron {
    25% {
      opacity: 1;
    }
    33.3% {
      opacity: 1;
      -webkit-transform: translateY(1.14rem);
      transform: translateY(1.14rem);
    }
    66.6% {
      opacity: 1;
      -webkit-transform: translateY(1.56rem);
      transform: translateY(1.56rem);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(2.4rem) scale(0.5);
      transform: translateY(2.4rem) scale(0.5);
    }
  }

  @keyframes move-chevron {
    25% {
      opacity: 1;
    }
    33.3% {
      opacity: 1;
      -webkit-transform: translateY(1.14rem);
      transform: translateY(0.8rem);
    }
    66.6% {
      opacity: 1;
      -webkit-transform: translateY(1.56rem);
      transform: translateY(1.56rem);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(2.4rem) scale(0.5);
      transform: translateY(2.4rem) scale(0.5);
    }
  }
}

.album {
  display: block !important;
  -webkit-perspective: 30px;
          perspective: 30px;
  position: absolute;
  margin-left: 0;
  margin-top: 0;
  -webkit-transition: left 0.5s, top 0.5s, margin-top 0.5s, margin-left 0.5s;
  transition: left 0.5s, top 0.5s, margin-top 0.5s, margin-left 0.5s;
  -o-transition: left 0.5s, top 0.5s, margin-top 0.5s, margin-left 0.5s;
}

.album-after {
  width: calc(18px + 7vw + 5vh) !important;
  height: calc(18px + 7vw + 5vh) !important;
}

.album-inner {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -o-transition: 0.25s;
}

.start-text {
  -webkit-perspective: 30px;
          perspective: 30px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -o-transition: 1s ease;
}

#album-1 {
  top: 64vh;
  left: 74vw;
  z-index: 11;
}

#album-2 {
  top: 15vh;
  right: 54vw;
  z-index: 12;
}

#album-3 {
  top: 83vh;
  right: 54vw;
  z-index: 13;
}

#album-4 {
  top: 68vh;
  right: 46vw;
  z-index: 14;
}

#album-5 {
  top: 37vh;
  right: 83vw;
  z-index: 15;
}

#album-6 {
  top: 41vh;
  left: 81vw;
  z-index: 16;
}

#album-7 {
  top: 47vh;
  right: 53vw;
  z-index: 17;
}

#album-8 {
  top: 59vh;
  right: 74vw;
  z-index: 18;
}

#album-9 {
  top: 75vh;
  right: 84vw;
  z-index: 19;
}

#album-10 {
  top: 20vh;
  left: 60vw;
  z-index: 20;
}

#album-11 {
  top: 9vh;
  right: 78vw;
  z-index: 21;
}

#album-12 {
  top: 80vh;
  left: 84vw;
  z-index: 2;
}

#album-13 {
  top: 36vh;
  right: 24vw;
  z-index: 23;
}

#album-14 {
  top: 2vh;
  left: 48vw;
  z-index: 24;
}

#album-15 {
  top: 9vh;
  left: 82vw;
  z-index: 25;
}

#album-16 {
  top: 31vh;
  right: 58vw;
  z-index: 26;
}

#album-17 {
  top: 85vh;
  left: 57vw;
  z-index: 27;
}

#album-18 {
  top: 53vh;
  left: 52vw;
  z-index: 28;
}

#album-1.album-after {
  top: 72vh;
  left: 68vw;
}

#album-2.album-after {
  top: 10vh;
  right: 57vw;
}

#album-3.album-after {
  top: 89vh;
  right: 54vw;
}

#album-4.album-after {
  top: 75vh;
  right: 42vw;
}

#album-5.album-after {
  top: 27vh;
  right: 86vw;
}

#album-6.album-after {
  top: 24vh;
  left: 84vw;
}

#album-7.album-after {
  top: 65vh;
  right: 82vw;
}

#album-8.album-after {
  top: 73vh;
  right: 69vw;
}

#album-9.album-after {
  top: 85vh;
  right: 84vw;
}

#album-10.album-after {
  top: 8vh;
  left: 59vw;
}

#album-11.album-after {
  top: 2vh;
  right: 84vw;
}

#album-12.album-after {
  top: 84vh;
  left: 86vw;
}

#album-13.album-after {
  top: 18vh;
  right: 29vw;
}

#album-14.album-after {
  top: -1vh;
  left: 48vw;
}

#album-15.album-after {
  top: 4vh;
  left: 85vw;
}

#album-16.album-after {
  top: 19vh;
  right: 66vw;
}

#album-17.album-after {
  top: 88vh;
  left: 57vw;
}

#album-18.album-after {
  top: 65vh;
  left: 85vw;
}

@media (orientation:landscape) {
  #album-1 {
    top: 56vh;
    left: 67vw;
  }

  #album-2 {
    top: 8vh;
    right: 56vw;
  }

  #album-3 {
    top: 73vh;
    right: 59vw;
  }

  #album-4 {
    top: 64vh;
    right: 46vw;
  }

  #album-5 {
    top: 32vh;
    right: 83vw;
  }

  #album-6 {
    top: 39vh;
    left: 78vw;
  }

  #album-7 {
    top: 36vh;
    right: 53vw;
  }

  #album-8 {
    top: 54vh;
    right: 68vw;
  }

  #album-9 {
    top: 67vh;
    right: 84vw;
  }

  #album-10 {
    top: 12vh;
    left: 67vw;
  }

  #album-11 {
    top: 4vh;
    right: 76vw;
  }

  #album-12 {
    top: 70vh;
    left: 81vw;
  }

  #album-13 {
    top: 23vh;
    right: 31vw;
  }

  #album-14 {
    top: 2vh;
    left: 48vw;
  }

  #album-15 {
    top: 4vh;
    left: 82vw;
  }

  #album-16 {
    top: 24vh;
    right: 65vw;
  }

  #album-17 {
    top: 69vh;
    left: 57vw;
  }

  #album-18 {
    top: 43vh;
    left: 49vw;
  }

  #album-1.album-after {
    top: 78vh;
    left: 73vw;
  }

  #album-2.album-after {
    top: 4vh;
    right: 72vw;
  }

  #album-3.album-after {
    top: 80vh;
    right: 60vw;
  }

  #album-4.album-after {
    top: 86vh;
    right: 47vw;
  }

  #album-5.album-after {
    top: 40vh;
    right: 84vw;
  }

  #album-6.album-after {
    top: 25vh;
    left: 82vw;
  }

  #album-7.album-after {
    top: -1vh;
    right: 59vw;
  }

  #album-8.album-after {
    top: 74vh;
    right: 76vw;
  }

  #album-9.album-after {
    top: 65vh;
    right: 87vw;
  }

  #album-10.album-after {
    top: 2vh;
    left: 77vw;
  }

  #album-11.album-after {
    top: 7vh;
    right: 88vw;
  }

  #album-12.album-after {
    top: 68vh;
    left: 85vw;
  }

  #album-13.album-after {
    top: -1vh;
    right: 28vw;
  }

  #album-14.album-after {
    top: -3vh;
    left: 45vw;
  }

  #album-15.album-after {
    top: 7vh;
    left: 89vw;
  }

  #album-16.album-after {
    top: 21vh;
    right: 81vw;
  }

  #album-17.album-after {
    top: 82vh;
    left: 56vw;
  }

  #album-18.album-after {
    top: 45vh;
    left: 87vw;
  }

  .login-btn {
    margin-top: 50px;
  }
}

.welcome {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  background: -webkit-linear-gradient(158deg, rgba(44,153,255,1) 0%, rgba(29,185,84,1) 100%);
  text-shadow: 5px 5px 10px rgba(0,0,0,.1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome-subtitle {
  font-weight: 300;
  font-size: 0.8rem;
  margin-left: 20%;
  margin-right: 20%;
}

.login-btn {
  display: block;
  width: calc(6rem + 1.5vw);
  height: calc(1.35rem + 1.5vw);
  min-width: 150px;
  min-height: 45px;
  max-width: 100%;
  font-family: 'Poppins', sans-serif;
  border: 2px solid #141414;
  background: white;
  text-align: center;
  font-size: 0.5rem;
  padding: 0.3rem 0.7rem;
  outline: none !important;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 4vh;
  border-radius: 0;
}

.login-btn:hover, .login-btn:active {
  background: #141414;
  color: #F7F7F7;
  -webkit-transition: width 0.4s ease, height 0.5s ease, min-width 0.4s ease, height 0.5s ease, border-radius 0.5s ease, padding 0.5s ease, background 0.3s ease, color 0.3s ease;
  -o-transition: width 0.4s ease, height 0.5s ease, min-width 0.4s ease, height 0.5s ease, border-radius 0.5s ease, padding 0.5s ease, background 0.3s ease, color 0.3s ease;
  transition: width 0.4s ease, height 0.5s ease, min-width 0.4s ease, height 0.5s ease, border-radius 0.5s ease, padding 0.5s ease, background 0.3s ease, color 0.3s ease;
}

.login-btn-clicked {
  display: block;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  white-space: nowrap;
  width: 5vw;
  height: 5vw;
  min-width: 50px;
  min-height: 50px;
  padding: 0;
  color: transparent;
  background: #141414;
  z-index: -10;
  pointer-events: none;
  border-radius: 50%;
}

.bg-expand {
  position: absolute;
  background: #141414;
  z-index: 10;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  border-radius:50%;
  -webkit-transition: 0.7s ease 0.2s;
  -o-transition: 0.7s ease 0.2s;
  transition: 0.7s ease 0.2s;
}

.bg-expanded {
  width: 200%;
  height: 120%;
  padding-bottom: 200%;
}

.album-center {
  top: 50% !important;
  margin-top: calc((18px + 7vw + 5vh) / -2);
  pointer-events: none;
}

.album-center-left {
  left: 50% !important;
  margin-left: calc((18px + 7vw + 5vh) / -2);
}

.album-center-right {
  right: 50% !important;
  margin-right: calc((18px + 7vw + 5vh) / -2);
}

@media screen and (min-height: 320px) and (max-height: 767px) and (orientation: landscape) {
  .title {
    right: 4vw;
    margin-left: 0;
    margin-right: 0;
    font-size: calc(2rem + 3vw);
    text-align: left;
  }

  .title-animate {
    right: 2vw;
    text-align: left;
  }

  .title-new {
    position: absolute;
    right: 2vw;
    font-size: calc(2em + 3vw);
    text-align: left;
  }

  .title-shrink {
    font-size: calc(1.75rem + 3vw);
    right: 12vw;
  }

  .subtitle {
    margin-left: 0;
    margin-right: 0;
    font-size: calc(0.5rem + 0.5vw);
  }

  .welcome {
    font-size: 1.5rem;
  }

  .welcome-subtitle {
    font-size: 0.7rem;
  }

  .login-btn {
    margin-top: 20px;
  }
}
